# Get your bot token from: https://discord.com/developers/applications
DISCORD_TOKEN=your_bot_token_here

# You can get a free PostgreSQL database from neon.tech, supabase.com, or render.com
# Format (Postgres): postgresql+asyncpg://user:password@host:port/database
# For local development, you might prefer to run postgres using Docker.
DATABASE_URL=postgresql+asyncpg://user:password@host:5432/database

# Extensions that MUST load - The bot won't start without them (defaults to an empty list)
# Example: CORE_EXTENSIONS=["bot.extensions.example"]
CORE_EXTENSIONS=[]

# Extensions that can but don't have to load (defaults to an empty list)
# Any other extension not listed here (or in core extensions) won't be loaded, even if it is discovered by the bot.
# Example: ADDITIONAL_EXTENSIONS=["bot.extensions.example"]
ADDITIONAL_EXTENSIONS=[]

# The prefix to use for prefix commands (defaults to "&" if not set)
COMMAND_PREFIX=&

# The list of bot developer IDs
# This is used internally by some cogs to check whether a user is the owner or developer of this bot instance
# Example: DEVELOPER_IDS=[123,345,678]
DEVELOPER_IDS=[]
